/roam/transcendence.db
/node_modules/
*/node_modules/*
.env
.env.local
/frontend/dist/
/Notes/roam/transcendence.db
/backend/services/user/node_modules/
/backend/services/auth/node_modules/
/backend/services/users.db
/backend/services/user/users.db
/backend/services/auth/database/auth.db
/backend/services/auth/dist
/vault/vault-data
/vault/init/*
!/vault/init/entrypoint.sh
!/vault/init/vault-auto-init-unseal.sh