<div id="player-{{index}}" class="border-b border-gray-200 pb-4">
	<div class="flex justify-end">
		<!-- <h3 class="text-lg font-medium text-gray-900">Player<span class="slot-index"></span></h3> -->
		<button type="button" class="text-sm text-red-500 remove-btn">Remove</button>
	</div>

	<!-- Member fields -->
	<div class="member-fields space-y-2">
		<!-- Email -->
		<div>
			<label class="block text-sm font-medium text-gray-700">Email</label>
			<input
				type="email"
				id="email-{{index}}"
				name="email-{{index}}"
				class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				placeholder="Enter email" />
		</div>

		<!-- Password and Save Button-->
		<div>
			<label class="block text-sm font-medium text-gray-700">Password</label>
				<div class="mt-1 flex items-center">
				<input
					type="password"
					id="password-{{index}}"
					name="password-{{index}}"
					class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
					placeholder="Enter password" />
				<!-- <button id="reqister-player-form" type="submit" class="ml-3 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button> -->
				<button
					id="register-player-form-{{index}}"
					type="button"
					class="register-player-btn ml-3 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
					data-index="{{index}}"
				>Register</button>
			</div>
		</div>
	</div>
</div>