<div class="bg-white border-0 rounded-md p-2 text-center max-w-90  shadow-lg">
  <button id="ad-close-btn" class="top-0 right-0 text-2xl cursor-pointer">✕</button>
  <p>Special Offer!</p>
  <p>Save 20% on our new pong paddles—this week only.</p>
  <a href="https://www.decathlon.es/es/p/mp/stiga/pala-ping-pong-pro-carbon-plus-5-star/_/R-p-7a11c046-5715-4a1b-b18c-fb92b0ca2468?mc=7a11c046-5715-4a1b-b18c-fb92b0ca2468_c1c14&c=negro_rojo&LGWCODE=1&utm_source=organic_shopping&utm_medium=organic&srsltid=AfmBOoqhwdELWLfX6Nuu7RmmfRDcEXmFyQf0weXTR71nQ2qXrvepxjxzqNc&gQT=1" class="inline-block mt-3 pt-2 pb-2 pr-4 pl-4 bg-[#ff4400] text-white rounded-md">Buy Now</a>
