<!-- <\!-- <div class="relative z-10 mt-4 mb-8 sm:mx-auto sm:w-full sm:max-w-2xl flex justify-between items-center text-white text-lg font-semibold px-4"> -\-> -->
<!-- <div class="absolute inset-x-0 top-1/10 z-10 flex justify-between items-center text-black text-lg font-semibold px-4 sm:mx-auto sm:w-full sm:max-w-2xl pointer-events-none"> -->
<!-- 	<div id="player-left-name" class="truncate"> -->
<!-- 		{{player1}} -->
<!-- 	</div> -->
<!-- 	<div id="player-right-name" class="truncate text-right"> -->
<!-- 		{{player2}} -->
<!-- 	</div> -->
<!-- </div> -->


<div class="flex items-center justify-between" style="width: ${canvasWidth}px;">
	<div class="flex items-center space-x-3">
		<span class="font-semibold text-lg">{{player1}}</span>
		<img id="image-player-1" class="w-12 h-12 rounded-full border-2 border-white">
	</div>
	<div class="font-bold text-xl absolute left-1/2 transform -translate-x-1/2">VS</div>
	<div id="player2-info" class="flex items-center space-x-3">
		<span class="font-semibold text-lg">{{player2}}</span>
		<img id="image-player-2" class="w-12 h-12 rounded-full border-2 border-white">
	</div>
</div>
