<div class="flex items-center justify-between" style="width: {{canvasWidth}}px;">
    <div class="flex items-center space-x-3">
        <span class="font-semibold text-lg">{{player1Name}}</span>
        <img src="{{player1Avatar}}"
             alt="{{player1Name}}"
             class="w-12 h-12 rounded-full border-2 border-white">
    </div>
    <div class="font-bold text-xl absolute left-1/2 transform -translate-x-1/2">VS</div>
    <div id="player2-info" class="flex items-center space-x-3">
        {{player2Content}}
    </div>
</div>
